/* Global styles */
* {
    margin: 0;
    padding: 0;
}

/* Header block */
.header {
    background-color: #FFF0ED;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav-list {
    list-style-type: none;
    display: flex;
}

.header__nav-item {
    padding: 20px;
    font-size: 18px;
}

.header__nav-link {
    text-decoration: none;
    color: #251607;
}

.header__nav-link--blue {
    text-decoration: #5BACC3
}

.header__nav-heading {
    font-weight: 50;
    font-size: 60px;

}

.header__logo-link {
    text-decoration: none;
}

/* Hero Block */

.hero {
    background-color: #FFF0ED;
    padding: 1.25rem;
    position: relative;

}

.hero-card {
    width: 50%;
    text-align: left;
    position: absolute;
    margin: 5.25rem;
    padding: 1.25rem;
}

.hero__heading {
    font-size: 60px;
    font-weight: 300;
}

.hero__description {
    font-size: 18px;
    width: 60%;
}

.hero__button-border {
    width: 180px;
    border-width: .125rem;
    background-color: #5BACC3;
    height: 3.6875rem;
    margin-top: 1.25rem;
}

.hero__button {
    width: 180px;
    padding: 1.25rem;
    margin-top: 1.25rem;
    color: #FFF;
    position: relative;
    right: 7px;
    bottom: 25px;
    border: 2px solid #251607;
    background-color: transparent;
}

.hero__image {
    position: relative;
    left: 65%;
}

/* Product-Catalog Block */
.product-catalog {
    background-color: #f7f7f7;
    padding-bottom: 1.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.catalog__heading {
    text-align: center;
    font-weight: 400;
}

.catalog {
    display: flex;
    justify-content: center;
}

.catalog__item {
    min-height: 27.5rem;
    padding: 1.25rem;
    margin: 1.25rem;
    border-radius: .625rem;
    box-shadow: 0rem .3125rem .5625rem -0.0625rem rgba(0, 0, 0, 0.25);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.catalog__image {
    height: 17.5rem;
    padding: 3.125rem;
    margin: 1.25rem;
}

.catalog__details {
    background-color: #FFF0ED;
    display: flex;
    border-radius: .625rem;
    justify-content: center;
    margin: -1.25rem;

}

.catalog__item-text {
    padding: 1.25rem;
    margin: 1.25rem;
}

.catalog__price {
    color: #5BACC3;
    padding: 1.5625rem;
    font-weight: 700;
    font-size: 2.0625rem;
    position: relative;
    top: 1.125rem;
}

.catalog__button-border {
    width: 180px;
    border-width: .125rem;
    background-color: #5BACC3;
    height: 3.6875rem;
    margin-top: 1.25rem;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 30px;
}

.catalog__button {
    width: 180px;
    padding: 1.25rem;
    margin-top: 1.25rem;
    color: #FFF;
    position: relative;
    right: 7px;
    bottom: 25px;
    border: 2px solid #251607;
    background-color: transparent;
}

.catalog__name {
    font-size: 2.0625rem;
    font-weight: 400;
    white-space: nowrap;

}

/* Solgan Block*/

.slogan {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slogan-content {
    width: 50%;
}
.slogan__title {}
.slogan__text {
    width: 70%
}
.slogan-images {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.slogan__logo {
    width: 3.125rem;
}
.slogan__button-border {}
.slogan__button {}

.slogan__image-border {
  border: 2px solid #5BACC3;
  width: 25rem;
  height: 25rem;
  margin: 1.25rem;
  border-width: .3125rem;
}

.slogan__image {
  width: 25rem;
  position: relative;
  top: 20px;
  left: 20px;
}


/* Discount Block*/
.discount {
    background-color: #FFF;
    margin: 1.25rem;
    padding: 1.25rem;
    position: relative;
}


.discount-banner {
    background-color: #393939;
    width: 90%;
    color: white;
    font-size: 45px;
    margin: auto;
    margin: 1.25rem;
    padding: 1.25rem;
}

/* Footer Block*/

.footer {
    background-color: #FFF0ED;
    position: relative;
    padding: 1.25rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-section {
    padding: 20px;
    margin: 20px;
    text-align: center;

}

.footer__text {
    font-size: 18px;
    font-weight: 400;
    height: 3rem;
}


/*Typography*/
.article__text {
    font-size: 18px;
    font-weight: normal;
}

.header__heading,
.section__heading,
.catalog__heading {
    font-size: 60px;
    font-weight: lighter;
}

.header__title {
    font-size: 33px;
    font-weight: lighter;
}

.article__text--strong {
    font-size: 45px;
}

.footer__heading {
    font-size: 2.0625rem;
    font-weight: 300;
    padding: 20px;

}

.footer__description {
    font-size: 1.125rem;
    font-weight: 400;
}

.logos,
.footer__logo {
    width: 50px;
    height: 3rem;
}